.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: clamp(80px, 10vw, 200px);
  .head {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    width: fit-content;
    padding: 10px 20px;
    color: #333333;
    border: 1px solid #000000;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: #ffffff;
  }
  h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    color: #1a1a1a;
    margin: 20px;
    font-family: "Raleway", sans-serif;
  }
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #333333;
    max-width: 992px;
    text-align: center;
  }
  .aboHis {
    margin-top: clamp(50px, 5vw, 100px);
    padding: 150px;
    border: 2px solid #262626;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 6px 6px 0px 2px #1e1e1e;

    .hisCon {
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      gap: clamp(50px, 5vw, 100px);
      position: relative;
      .verLine {
        position: absolute;
        top: 9.7%;
        height: 80.5%;
        width: 12px;
        display: flex;
        align-items: center;

        background-color: #ffbe99;
        .verInnerLine {
          height: 100%;
          width: 2px;
          background-color: #000000;
          margin: 0 auto;
        }
      }
      .hisContent {
        display: flex;
        justify-content: center;
        /* margin: auto 0; */
        align-items: center;
        gap: 3.858%;
        .horYear {
          display: flex;
          height: fit-content;

          .horLine {
            display: flex;
            height: 12px;
            width: clamp(22px, 5vw, 55px);
            background-color: #ffbe99;
            margin: auto 0;
            position: relative;
            .horInnerLine {
              height: 2px;
              width: 100%;
              background-color: #000000;
              margin: auto;
              /* position: absolute; */
            }
            .nodeF {
              width: 20px;
              height: 20px;
              background-color: #ffffff;
              border: 2px solid #262626;
              border-radius: 50%;
              position: absolute;
              left: -5px;
              top: -4px;
            }
            .nodeS {
              width: 20px;
              height: 20px;
              background-color: #ffffff;
              border: 2px solid #262626;
              border-radius: 50%;
              position: absolute;
              right: -10px;
              top: -4px;
            }
          }
          .hisYear {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #262626;
            border-radius: 12px;
            background-color: #ffffff;
            box-shadow: 6px 6px 0px 2px #1e1e1e;
            padding: 20px 30px;
            .hisImage {
              width: clamp(50px, 5vw, 88px);
              height: clamp(50px, 5vw, 88px);
              img {
                width: 100%;
                height: 100%;
              }
            }
            h3 {
              font-weight: 700;
              font-size: 68px;
              line-height: 130%;
              color: #1a1a1a;
              font-family: "Raleway", sans-serif;
              margin: 0 0 0 20px;
            }
          }
        }
        .hisText {
          h5 {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 28px;
            line-height: 130%;
            color: #1a1a1a;
            margin-bottom: 20px;
          }
          p {
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            color: #333333;
            text-align: left;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .benefits {
    .head {
      font-size: 14px;
    }
    h3 {
      font-size: 38px;
    }
    p {
      font-size: 18px;
    }
    .aboHis {
      margin-top: 50px;
      padding: 50px 10px 50px 20px;

      .hisCon {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: clamp(50px, 5vw, 100px);
        position: relative;
        .verLine {
          position: absolute;
          top: 3.6%;
          height: 79.3%;
          width: 12px;
          display: flex;
          align-items: center;

          background-color: #ffbe99;
          .verInnerLine {
            height: 100%;
            width: 2px;
            background-color: #000000;
            margin: 0 auto;
          }
        }
        .hisContent {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: unset;
          gap: 3.858%;
          .horYear {
            display: flex;

            .horLine {
              display: flex;
              height: 12px;
              width: 13.4146%;
              background-color: #ffbe99;
              margin: auto 0;
              position: relative;
              .horInnerLine {
                height: 2px;
                width: 100%;
                background-color: #000000;
                margin: auto;
                /* position: absolute; */
              }
              .nodeF {
                width: 20px;
                height: 20px;
                background-color: #ffffff;
                border: 2px solid #262626;
                border-radius: 50%;
                position: absolute;
                left: -5px;
                top: -5px;
              }
              .nodeS {
                width: 20px;
                height: 20px;
                background-color: #ffffff;
                border: 2px solid #262626;
                border-radius: 50%;
                position: absolute;
                right: -10px;
                top: -4px;
              }
            }
            .hisYear {
              display: flex;
              justify-content: center;
              align-items: center;
              border: 2px solid #262626;
              border-radius: 12px;
              background-color: #ffffff;
              box-shadow: 6px 6px 0px 2px #1e1e1e;
              padding: 20px 24px;
              .hisImage {
                width: clamp(50px, 5vw, 88px);
                height: clamp(50px, 5vw, 88px);
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              h3 {
                font-size: 38px;
                margin: 0 0 0 20px;
              }
            }
          }
          .hisText {
            margin-left: 13.4146%;
            margin-top: 30px;
            h5 {
              font-family: "Raleway", sans-serif;
              font-weight: 700;
              font-size: 20px;
              line-height: 130%;
              color: #1a1a1a;
              margin-bottom: 12px;
            }
            p {
              font-weight: 500;
              font-size: 16px;
              line-height: 150%;
              color: #333333;
              text-align: left;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 993px) and (max-width: 1440px) {
  .benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: clamp(80px, 10vw, 200px);
    .head {
      font-size: 16px;
    }
    h3 {
      font-size: 48px;
    }
    p {
      font-size: 18px;
    }
    .aboHis {
      margin-top: clamp(50px, 5vw, 100px);
      padding: 100px;
      border: 2px solid #262626;
      border-radius: 12px;
      background-color: #ffffff;
      box-shadow: 6px 6px 0px 2px #1e1e1e;

      .hisCon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: clamp(50px, 5vw, 100px);
        position: relative;
        .verLine {
          position: absolute;
          height: 80.5%;
          width: 12px;
          display: flex;
          align-items: center;

          background-color: #ffbe99;
          .verInnerLine {
            height: 100%;
            width: 2px;
            background-color: #000000;
            margin: 0 auto;
          }
        }
        .hisContent {
          display: flex;
          justify-content: center;
          margin: 0;
          align-items: center;
          gap: 3.858%;
          .horYear {
            display: flex;

            .horLine {
              display: flex;
              height: 12px;
              width: clamp(22px, 5vw, 55px);
              background-color: #ffbe99;
              margin: auto 0;
              position: relative;
              .horInnerLine {
                height: 2px;
                width: 100%;
                background-color: #000000;
                margin: auto;
                /* position: absolute; */
              }
              .nodeF {
                width: 20px;
                height: 20px;
                background-color: #ffffff;
                border: 2px solid #262626;
                border-radius: 50%;
                position: absolute;
                left: -5px;
                top: -5px;
              }
              .nodeS {
                width: 20px;
                height: 20px;
                background-color: #ffffff;
                border: 2px solid #262626;
                border-radius: 50%;
                position: absolute;
                right: -10px;
                top: -4px;
              }
            }
            .hisYear {
              display: flex;
              justify-content: center;
              align-items: center;
              border: 2px solid #262626;
              border-radius: 12px;
              background-color: #ffffff;
              box-shadow: 6px 6px 0px 2px #1e1e1e;
              padding: 24px 34px;

              .hisImage {
                width: clamp(50px, 5vw, 88px);
                height: clamp(50px, 5vw, 88px);
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              h3 {
                font-weight: 700;
                font-size: 48px;
                line-height: 130%;
                color: #1a1a1a;
                font-family: "Raleway", sans-serif;
                margin: 0 0 0 20px;
              }
            }
          }
          .hisText {
            h5 {
              font-family: "Raleway", sans-serif;
              font-weight: 700;
              font-size: 24px;
              line-height: 130%;
              color: #1a1a1a;
              margin-bottom: 16px;
            }
            p {
              font-weight: 500;
              font-size: 16px;
              line-height: 150%;
              color: #333333;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
